.container {
    width: 80%;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    border: 5px solid #000000;
    border-radius: 20px;
    background-image: url(/public/img_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-position-x: center 10px;
    text-align: center;
    height: auto;
    min-height: 100%;
    margin-bottom: 8vh;
    

}
.side{
    padding-top: 34px;
    text-align: center;
    float: right;
    padding-right: 15px;
   }

.logintable{
    /* border: 3px solid #000000; */
    background-color: white;
    margin-right: 10px;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 4px #000;
    border-collapse: collapse;
    
}

.logintable input{
    width: 70%;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 15px;
}

.logintable button{
    background: none;
    width: 70%;
    margin-bottom: 10px;
    border: 0;
    font-weight: bold;
    font-size: 12px;
}

.logintable :nth-child(3){
    margin-top: 10px;
    width: 70%;
    height: 30px;
    border: 0;
    outline: none;
    border-radius: 20px;
    background: linear-gradient(to bottom, #3a4ca8f4, rgb(24, 2, 137));
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    /* float: right; */
    font-weight: bold;
}



h5{
    text-align: left;
    padding-left: 20%;
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}


body{
    background-color: rgba(128, 128, 128, 0.104);
}


.lf-menu-nav{
    margin-top: 50px;
    
    height:50vh;
    width:80%;
    display: inline-block;
}

.tablediv{
    background-color: white;
    overflow: scroll;
    height: 20vh;
    width: 100%;
    border:  1px solid #000000;
}
.tablediv::-webkit-scrollbar-track{ 
    background:transparent; 
}
.tablediv::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.board_list{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}
.imgslide{
    width: 70%;
    max-width: 700px;
    margin: auto;
    display: block;
    float: left;
    
}
.writebutton{
    margin-top:1vh;
    float: right;
    width:15vh;
    color: white;
    border: 1px;
    border-radius: 40px;
    background: linear-gradient(to bottom, #3a4ca8f4, rgb(24, 2, 137));
}

thead{
    position: sticky;
    top: 0px;
    background-color: rgba(128, 128, 128, 0.104) !important;
   
}
td,th{
    border: 1px black solid;
}
.text-left{
    text-align: left;
}

button.btn1 {
    margin-left: 5vh;
    width: 13vh;
    height: 40vh;
    float: left;
    background: transparent;
    border-width: 0ch;
    background-image: url(/src/image/btn_left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    color: rgba(255, 255, 255, 0);

  }
  button.btn1:hover {
    background-image: url(/src/image/btn_left_hover.png);
  }
button.btn2 {
   float: left;
    top: 15vh;
    right : 50vh; 
    width: 13vh;
    height: 40vh;
    background: transparent;
    border-width: 0ch;
    background-image: url(/src/image/btn_right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    color: rgba(255, 255, 255, 0);
  }
  button.btn2:hover {
    background-image: url(/src/image/btn_right_hover.png);
  }