.posting {
    width: 60%;
    float: left;
    margin-left:5vh;
    margin-top: 3vh;
    border: 5px solid #000000;
    border-radius: 20px;
    background-image: url(/public/img_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-position-x: center 10px;
    text-align: center;
    height: 85vh;
    margin-bottom: 8vh;
    
}


.postingcotent{
    text-align: center;
    background-color: white;
    border: 1px solid #000000;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    margin-top: 20px;
    height: 70vh;
}

.postingdiv{
    float:left;
    padding-top: 5vh;
}

