
        .wrap {
            width: 100%;
            height: 89vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.1);
        }

        .wrapImg {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

        }


        .signup {
            width: 50vh;
            height: 70bh;
            background: white;
            border-radius: 20px;
            border: 2px solid navy;
            background-image: url(/public/img_logo.png);
            background-size: 250px;
            background-repeat: no-repeat;
            background-position: center;
            padding: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin:0  auto;
        }

        .sign_name {
            width: 80%;
        }

        .sign_name input {
            width: 90%;
            height: 50px;
            border-radius: 30px;
            margin-top: 10px;
            padding: 0px 20px;
            border: 1px solid lightgray;
            outline: none;
        }

        .sign_id {

            width: 80%;
        }

        .sign_id input {
            width: 90%;
            height: 50px;
            border-radius: 30px;
            margin-top: 10px;
            padding: 0px 20px;
            border: 1px solid lightgray;
            outline: none;
        }

        .sign_pw {

            width: 80%;
        }

        .sign_pw input {
            width: 90%;
            height: 50px;
            border-radius: 30px;
            margin-top: 10px;
            padding: 0px 20px;
            border: 1px solid lightgray;
            outline: none;
        }

        .submit {
            margin-top: 20px;
            width: 100%;
            padding-left: 4vh;
        }

        .submit input {
            width: 100px;
            height: 50px;
            border: 0;
            outline: none;
            border-radius: 40px;
            background: linear-gradient(to right, rgb(46, 147, 255), rgb(24, 2, 137));
            color: white;
            font-size: 1.2em;
            letter-spacing: 2px;
        }
