.App{

}
header{
 
}
.top{
  
}
.title1{
  display: block;
  text-align: center;
  padding: 0 0 0 50px;
  font-size: 60px;
}
.title2{
  display: block;
  text-align: center;
  padding: 0 90px 0 0;
  font-size: 30px;
}

.login-join{

  position: relative;
  float:right;

}
.login-join a{
 padding: 0 15px 0 15px;
  text-decoration-line: none;
 color:gray;
 font-size: 13px;
}
.container{
  background: #2ba0db;
  position: absolute;
  top: 200px;
  width: 100%;
  margin: auto;
}

ul{
  font-size:0;
  margin:0;
padding: 0;
}
Ul li{
  display: inline-block;
position: relative;
}

ul li a{
  color: #fff;
  display: block;
  font-size:20px;
  padding: 15px 14px;
  transition: 0.3s ;
  text-decoration-line:none;
}
ul li .title a{
  font-size:25px;
}
ul, ol, li { list-style:none; margin:0; padding:0; }

.title a{
  font-size: 30px;
}
ul.title-menu {}
ul.title-menu > li { display:inline-block; width:150px; padding:5px 20px; margin: 0 80px 0 80px;background:#2ba0db; text-align:center; position:relative; }
ul.title-menu > li ul.shop-kind { display:none; position:absolute; top:30px; left:0; }
ul.title-menu > li ul.shop-kind > li { display:inline-block; width:150px; margin: 20px 0 0 0 ;padding:5px 20px; background:#2ba0db; text-align:center; }

.dropDown:hover .shop-kind{
  display: block;
  }*/